#root {
  width: 100%;
  height: auto;
  margin: 2rem;
  text-align: center;
  color: var(--black);
  background-color: var(--beige);
  font-family: Prompt, sans-serif;
  --black: #000000;
  --white: #ffffff;
  --brick: #D16532;
  --beige: #F4EFE5;
  --yellow: #EEDBB5;
}

.tab {
  background-color: var(--brick);
  display: block;
  color: var(--white);
}
