.piano-container {
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
}

.piano-container > div {
    background-color: white;
    height: 150px;
    width: 60px;
    border: 2px solid black;

    position: relative;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.piano-container > div:hover {
    cursor: pointer;
}

.piano-container > div:active {
    background-color: DodgerBlue;
    color: white;
}

.piano-container > div > div {
    position: relative;
    color: black;
    font-weight: 400;
    font-size: 20px;
    margin-top: 110px;
}

.rooms-container {
    display: flex;
    background-color: darkgrey;
}

.rooms-container > div {
    background-color: #f1f1f1;
    color: black;
    width: 75px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    line-height: 20px;
}

.rooms-container > div:hover {
    background-color: DodgerBlue;
    color: white;
    cursor: pointer;
}